.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.create-vault {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.manage-vault {
  flex-grow: 1;
  display: flex;
  align-items: center;
}